In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, RobustScaler, StandardScaler
from sklearn.preprocessing import PowerTransformer

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['figure.dpi'] = 100

from sklearn.dummy import DummyClassifier
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')

<h2>Предобработка данных</h2>

In [2]:
df = pd.read_csv('../data/df_split_by_map_all_info.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1813 entries, 0 to 1812
Columns: 1025 entries, version to map
dtypes: float64(339), int64(679), object(7)
memory usage: 14.2+ MB

In [3]:
df = df.drop(['version', 'url', 'number_of_confrontation', 'datetime1', 'ratio1', 'ratio2', 'name1', 'number1', 'name2', 'number2',
         'team1_stat_url', 'team2_stat_url'], axis=1)
df.head()

,team1_world_rank,team2_world_rank,1_47_top5_Times played,1_47_top5_wins,1_47_top5_draws,1_47_top5_losses,1_47_top5_Total rounds played,1_47_top5_Rounds won,1_47_top5_Win percent,1_47_top5_Pistol rounds,...,2_46_topAll_Rounds won,2_46_topAll_Win percent,2_46_topAll_Pistol rounds,2_46_topAll_Pistol rounds won,2_46_topAll_Pistol round win percent,2_46_topAll_CT round win percent,2_46_topAll_T round win percent,result,best_of,map
0,28,46,0,0,0,0,0,0,0.0,0,...,53,0.75,8,4,0.5,0.590,0.526,-1,3,Nuke
1,28,46,0,0,0,0,0,0,0.0,0,...,53,0.75,8,4,0.5,0.590,0.526,-1,3,Ancient
2,1,223,2,2,0,0,54,32,1.0,4,...,29,0.50,4,2,0.5,0.448,0.552,1,3,Mirage
3,1,223,2,2,0,0,54,32,1.0,4,...,29,0.50,4,2,0.5,0.448,0.552,1,3,Ancient
4,14,101,0,0,0,0,0,0,0.0,0,...,0,0.00,0,0,0.0,0.000,0.000,-1,3,Overpass

In [4]:
maps_decoder = LabelEncoder()
df['map'] = maps_decoder.fit_transform(df['map'])

In [5]:
cv = KFold(shuffle=True, random_state=1)
X = df.drop('result', axis=1)
y = df['result']

In [6]:
X_norm = pd.DataFrame()
transform = PowerTransformer()
for i in X.columns:
    X_norm[i] = transform.fit_transform(np.array(X[i]).reshape(-1, 1)).reshape(1, -1)[0]
X_norm.head()

,team1_world_rank,team2_world_rank,1_47_top5_Times played,1_47_top5_wins,1_47_top5_draws,1_47_top5_losses,1_47_top5_Total rounds played,1_47_top5_Rounds won,1_47_top5_Win percent,1_47_top5_Pistol rounds,...,2_46_topAll_Total rounds played,2_46_topAll_Rounds won,2_46_topAll_Win percent,2_46_topAll_Pistol rounds,2_46_topAll_Pistol rounds won,2_46_topAll_Pistol round win percent,2_46_topAll_CT round win percent,2_46_topAll_T round win percent,best_of,map
0,-0.461564,-0.325356,-0.207733,-0.155865,0.0,-0.148271,-0.207733,-0.207733,-0.155865,-0.207733,...,0.165586,0.233425,1.012128,0.220085,0.232322,0.324424,0.727462,0.621513,0.153232,0.546561
1,-0.461564,-0.325356,-0.207733,-0.155865,0.0,-0.148271,-0.207733,-0.207733,-0.155865,-0.207733,...,0.165586,0.233425,1.012128,0.220085,0.232322,0.324424,0.727462,0.621513,0.153232,-1.697826
2,-2.183894,1.700456,4.813869,6.415823,0.0,-0.148271,4.813869,4.813869,6.415823,4.813869,...,-0.174182,-0.178526,0.357520,-0.324118,-0.305798,0.324424,-0.040182,0.779787,0.153232,0.048231
3,-2.183894,1.700456,4.813869,6.415823,0.0,-0.148271,4.813869,4.813869,6.415823,4.813869,...,-0.174182,-0.178526,0.357520,-0.324118,-0.305798,0.324424,-0.040182,0.779787,0.153232,-1.697826
4,-0.992090,0.552079,-0.207733,-0.155865,0.0,-0.148271,-0.207733,-0.207733,-0.155865,-0.207733,...,-1.581713,-1.542577,-1.231794,-1.485094,-1.381708,-1.454777,-1.576809,-1.568558,0.153232,1.022167

In [7]:
X_norm.head().iloc[:,:10].to_excel('norm.xlsx')

<h2>Обучение моделей. Сравнение результатов.</h2>

In [8]:
model_dummy = DummyClassifier(strategy="most_frequent")
result_dummy = cross_val_score(model_dummy, X_norm, y, cv=cv)
print(f'name: Dummy, score: {result_dummy}, mean: {result_dummy.mean()}')

name: Dummy, score: [0.56473829 0.5785124  0.56749311 0.50552486 0.53314917], mean: 0.5498835669604129

<h3>Ошибка перцептрона</h3>

In [9]:
model_perceptron = Perceptron()
result_perceptron = cross_val_score(model_perceptron, X_norm, y, cv=cv)
print(f'name: Perceptron, score: {result_perceptron}, mean: {result_perceptron.mean()}')

name: Perceptron, score: [0.57300275 0.52066116 0.54269972 0.54696133 0.54972376], mean: 0.546609743847313

In [10]:
param = {'penalty': ['l2', 'l1','none'],
         'alpha': [10**-6, 10**-5, 10**-4, 10**-3, 10**-2, 10**-1, 10**0, 10**1, 10**2]}

In [11]:
%%time
grid_search = GridSearchCV(Perceptron(), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 3.53 s

({'alpha': 0.0001, 'penalty': 'l2'}, 0.5548772506582652)

In [12]:
pd.DataFrame(grid_search.cv_results_).sort_values('mean_test_score', ascending=False).iloc[:,4:].head()

,param_alpha,param_penalty,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
6,0.0001,l2,"{'alpha': 0.0001, 'penalty': 'l2'}",0.515152,0.611570,0.545455,0.546961,0.555249,0.554877,0.031445,1
4,1e-05,l1,"{'alpha': 1e-05, 'penalty': 'l1'}",0.515152,0.636364,0.548209,0.502762,0.569061,0.554310,0.047282,2
9,0.001,l2,"{'alpha': 0.001, 'penalty': 'l2'}",0.581267,0.578512,0.548209,0.524862,0.522099,0.550990,0.025295,3
7,0.0001,l1,"{'alpha': 0.0001, 'penalty': 'l1'}",0.526171,0.570248,0.539945,0.524862,0.580110,0.548267,0.022814,4
1,1e-06,l1,"{'alpha': 1e-06, 'penalty': 'l1'}",0.570248,0.515152,0.586777,0.516575,0.549724,0.547695,0.028523,5

Как мы видим лучше всего без регурялизации, а так очень хорошо для перцептрона.

<h3>Метод опорных векторов</h3>

In [13]:
%%time
model_svm = SVC()
result_svm = cross_val_score(model_svm, X_norm, y, cv=cv, n_jobs=-1)
print(f'name: SVM, score: {result_svm}, mean: {result_svm.mean()}')

name: SVM, score: [0.62258953 0.62534435 0.63360882 0.52486188 0.5801105 ], mean: 0.5973030150830251
Wall time: 2.38 s

Очень не плохо. Попробуем пообучать

In [14]:
param = {'C': [10**-3, 10**-2, 10**-1, 10**0, 10**1],
         'kernel': ['rbf', 'poly', 'sigmoid']}

In [15]:
%%time
grid_search = GridSearchCV(SVC(), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 49.8 s

({'C': 10, 'kernel': 'rbf'}, 0.6061290960838926)

In [16]:
param = {'C': [1],
         'kernel': ['poly'],
         'degree': range(1,11)}

In [17]:
%%time
grid_search = GridSearchCV(SVC(), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 34.7 s

({'C': 1, 'degree': 1, 'kernel': 'poly'}, 0.5885073740925072)

<h3>Дерево решений.</h3>

In [18]:
%%time
model_tree = DecisionTreeClassifier()
result_tree = cross_val_score(model_tree, X_norm, y, cv=cv, n_jobs=-1)
print(f'name: Tree, score: {result_tree}, mean: {result_tree.mean()}')

name: Tree, score: [0.57300275 0.59504132 0.60881543 0.53867403 0.59668508], mean: 0.5824437240308662
Wall time: 547 ms

In [19]:
param = {'criterion': ['gini', 'entropy'],
         'max_depth': range(2,50)}

In [20]:
%%time
grid_search = GridSearchCV(DecisionTreeClassifier(), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 15.2 s

({'criterion': 'entropy', 'max_depth': 20}, 0.5984475594721703)

Ну, как и предполагалось, дерево решений не становится лучше от таких манипуляций с данными.

<h3>Логистическая регрессия</h3>

In [21]:
%%time
model_log = LogisticRegression()
result_log = cross_val_score(model_log, X_norm, y, cv=cv, n_jobs=-1)
print(f'name: LogisticRegression, score: {result_log}, mean: {result_log.mean()}')

name: LogisticRegression, score: [0.61157025 0.61432507 0.58402204 0.52209945 0.58839779], mean: 0.5840829185881923
Wall time: 702 ms

In [22]:
param = {'C': [10**-3, 10**-2, 10**-1, 10**0, 10**1]}

In [23]:
%%time
grid_search = GridSearchCV(LogisticRegression(), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 2.5 s

({'C': 0.1}, 0.6039358933382037)

In [24]:
pd.DataFrame(grid_search.cv_results_).sort_values('mean_test_score', ascending=False).iloc[:,4:].head(10)

,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
2,0.1,{'C': 0.1},0.611570,0.625344,0.639118,0.541436,0.602210,0.603936,0.033656,1
1,0.01,{'C': 0.01},0.595041,0.611570,0.611570,0.530387,0.602210,0.590156,0.030524,2
0,0.001,{'C': 0.001},0.600551,0.614325,0.603306,0.533149,0.593923,0.589051,0.028716,3
3,1,{'C': 1},0.611570,0.614325,0.584022,0.522099,0.588398,0.584083,0.033259,4
4,10,{'C': 10},0.584022,0.611570,0.589532,0.522099,0.593923,0.580229,0.030495,5

Нет никаких заметных улучшений, что печально.

<h3>Случайный лес</h3>

In [25]:
%%time
model_rf = RandomForestClassifier()
result_fr = cross_val_score(model_rf, X_norm, y, cv=cv, n_jobs=-1)
print(f'name: RandomForestClassifier, score: {result_fr}, mean: {result_fr.mean()}')

name: RandomForestClassifier, score: [0.61707989 0.61707989 0.62809917 0.56629834 0.60220994], mean: 0.6061534480921724
Wall time: 1.28 s

Из коробки уже хорошо

In [26]:
param = {'n_estimators': [100,200,500,1000,2000],
         'criterion': ['gini', 'entropy'],
         'max_depth': range(1,51,10)}

In [27]:
%%time
grid_search = GridSearchCV(RandomForestClassifier(n_jobs=-1), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

Wall time: 2min 51s

({'criterion': 'entropy', 'max_depth': 11, 'n_estimators': 200},
 0.6331659132764106)

In [28]:
pd.DataFrame(grid_search.cv_results_).sort_values('mean_test_score', ascending=False).iloc[:,4:].head(5)

,param_criterion,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
31,entropy,11,200,"{'criterion': 'entropy', 'max_depth': 11, 'n_e...",0.644628,0.677686,0.647383,0.571823,0.624309,0.633166,0.035091,1
34,entropy,11,2000,"{'criterion': 'entropy', 'max_depth': 11, 'n_e...",0.647383,0.677686,0.639118,0.569061,0.616022,0.629854,0.036244,2
33,entropy,11,1000,"{'criterion': 'entropy', 'max_depth': 11, 'n_e...",0.644628,0.680441,0.628099,0.566298,0.624309,0.628755,0.036998,3
32,entropy,11,500,"{'criterion': 'entropy', 'max_depth': 11, 'n_e...",0.639118,0.683196,0.641873,0.560773,0.616022,0.628197,0.040063,4
30,entropy,11,100,"{'criterion': 'entropy', 'max_depth': 11, 'n_e...",0.658402,0.663912,0.628099,0.566298,0.613260,0.625994,0.035265,5

<h3>Градиентный бустинг</h3>

In [29]:
%%time
model_xgb = XGBClassifier()
result_xgb = cross_val_score(model_xgb, X_norm, y, cv=cv, n_jobs=-1)
print(f'name: XGBClassifier, score: {result_xgb}, mean: {result_xgb.mean()}')

name: XGBClassifier, score: [0.61432507 0.63636364 0.61707989 0.55248619 0.59392265], mean: 0.6028354869640655
Wall time: 5.38 s

In [30]:
param = {'n_estimators': [100,200],
         'max_depth': range(10,51,2)}

In [31]:
%%time
grid_search = GridSearchCV(XGBClassifier(n_jobs=-1), param,cv=cv, n_jobs=-1)
grid_search.fit(X_norm,y)
(grid_search.best_params_, grid_search.best_score_)

[23:15:36] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Wall time: 6min 18s

({'max_depth': 12, 'n_estimators': 100}, 0.6061412720880325)

In [32]:
pd.DataFrame(grid_search.cv_results_).sort_values('mean_test_score', ascending=False).iloc[:,4:].head(5)

,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
2,12,100,"{'max_depth': 12, 'n_estimators': 100}",0.633609,0.625344,0.625344,0.558011,0.588398,0.606141,0.028717,1
3,12,200,"{'max_depth': 12, 'n_estimators': 200}",0.636364,0.617080,0.625344,0.552486,0.588398,0.603934,0.030236,2
1,10,200,"{'max_depth': 10, 'n_estimators': 200}",0.636364,0.603306,0.622590,0.544199,0.607735,0.602839,0.031549,3
0,10,100,"{'max_depth': 10, 'n_estimators': 100}",0.630854,0.619835,0.628099,0.535912,0.599448,0.602829,0.035221,4
6,16,100,"{'max_depth': 16, 'n_estimators': 100}",0.628099,0.625344,0.603306,0.571823,0.574586,0.600632,0.024003,5

Практически не улучшилось. Самое время перейти к PCA.